/* ФОРМА СТРАНИЦЫ */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* -webkit-font-smoothing: antialiased; */
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px 1fr 60px;
    grid-template-areas:
            "h h h h h h h h h h h h"
            ". . c c c c c c c c . ."
            "f f f f f f f f f f f f";
    /*text-align: center;*/
    /*min-width: 1600px;*/
    /*min-height: 1040px;*/
    min-height: 100vh;
    color: whitesmoke;
    background: rgb(32, 38, 41);

    /* включаю для отладки */
    /* background: rgba(236, 149, 255, 0.74);
    grid-gap: 2px; */
}

.header {
    grid-area: h;
    background: rgb(32, 38, 41);
    color: whitesmoke;
    /*background: rgb(32, 38, 41);*/
    /*color: whitesmoke;*/
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.content {
    grid-area: c;
    background: rgb(32, 38, 41);
    /*background: whitesmoke;*/
    color: whitesmoke;
}

.footer {
    grid-area: f;
    background: rgb(32, 38, 41);
    /*background: rgb(32, 38, 41);*/
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
}


/* СТИЛИ КОНТЕНТА */


.main {
    text-align: center;
    margin-top: 6%;
    min-height: 270px;
}

#form-messages {
    color: rgb(253, 75, 80);
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 12px;
}

.err {
    text-align: center;
}

input {
    background: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    height: 40px;
    width: 250px;
    margin-bottom: 10px;
    opacity: 1;
    text-indent: 20px;
    transition: all .2s ease-in-out;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.link-btn {
    color: whitesmoke;
}

button {
    background: rgb(112, 0, 216);
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 40px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: all .3s cubic-bezier(.6,0,.4,1);
}

button:hover {
    background: rgb(253, 32, 154);
}


/* АНИМАЦИЯ КОНТЕНТА */


.gradient {
    /* text-transform: uppercase;
    font-weight: bold; */
    font-family: Arial, sans-serif;
    color: transparent;
    background-size: 500% 500%;
    background-image: linear-gradient(-45deg,
    rgb(33, 253, 242),
    rgb(253, 17, 147),
    rgb(162, 80, 255),
    rgb(115, 253, 173)
    );
    animation: move-background 15s linear infinite;
    -webkit-background-clip: text;
}

@keyframes move-background {
    0% { background-position: 0% 0% }
    50% { background-position: 100% 0% }
    100% { background-position: 0% 0% }
}

.gradient-link {
    /* text-transform: uppercase;
    font-weight: bold; */
    font-family: Arial, sans-serif;
    color: transparent;
    background-size: 500% 500%;
    background-image: linear-gradient(-45deg,
    rgb(5, 197, 255),
    rgb(148, 186, 255),
    rgb(110, 156, 253),
    rgb(36, 124, 255)
    );
    animation: move-background 15s linear infinite;
    -webkit-background-clip: text;
}

@keyframes move-background {
    0% { background-position: 0% 0% }
    50% { background-position: 100% 0% }
    100% { background-position: 0% 0% }
}